In [41]:
 # Import and intizialize
import pandas as pd
import json

In [42]:
# Read datasets
df_IN = pd.read_csv('remittances_IN_PROP_centroid_millions.csv')
df_OUT = pd.read_csv('remittances_OUT_PROP_centroid_millions.csv')
df_IN.head

<bound method NDFrame.head of      OBJECTID           COUNTRY ISO     COUNTRYAFF         COUNTRY_1  \
0           1    American Samoa  AS  United States    American Samoa
1           2  French Polynesia  PF         France  French Polynesia
2           3             Samoa  WS          Samoa             Samoa
3           4             Tonga  TO          Tonga             Tonga
4           5       El Salvador  SV    El Salvador       El Salvador
..        ...               ...  ..            ...               ...
244       245              Laos  LA           Laos               NaN
245       246       South Korea  KR    South Korea               NaN
246       247       North Korea  KP    North Korea               NaN
247       248        Micronesia  FM     Micronesia               NaN
248       249          Canarias  ES          Spain               NaN

     R_IN_2017  R_IN_2018  R_IN_2019  R_IN_2020 ISO_3      GDP_2017  \
0          NaN        NaN        NaN        NaN   ASM  6.120000e+08
1        582.0      582.0      582.0      582.0   PYF           NaN
2        136.0      147.0      147.0      150.0   WSM  8.320256e+08
3        159.0      183.0      190.0      194.0   TON  4.603791e+08
4       4996.0     5392.0     5661.0     5936.0   SLV  2.497919e+10
..         ...        ...        ...        ...   ...           ...
244        NaN        NaN        NaN        NaN   NaN           NaN
245        NaN        NaN        NaN        NaN   NaN           NaN
246        NaN        NaN        NaN        NaN   NaN           NaN
247        NaN        NaN        NaN        NaN   NaN           NaN
248        NaN        NaN        NaN        NaN   NaN           NaN

         GDP_2018     GDP_2019     GDP_2020            X            Y  \
0    6.390000e+08    648000000    709000000 -19003110.00 -1609164.125
1             NaN           ..           .. -16307602.00 -1683299.125
2    8.212869e+08  852007112.7  807100820.7 -19164678.00 -1546529.750
3    4.892355e+08  512350059.4  488829964.1 -19463144.00 -2322361.250
4    2.602085e+10  26896660000  24638720000  -9892613.00  1544105.750
..            ...          ...          ...          ...          ...
244           NaN          NaN          NaN  11548818.00  2100846.250
245           NaN          NaN          NaN  14230727.00  4355448.000
246           NaN          NaN          NaN  14159710.00  4891534.500
247           NaN          NaN          NaN  17744510.00   724423.875
248           NaN          NaN          NaN  -1744604.25  3291723.000

     Unnamed: 16  Unnamed: 17
0            NaN          NaN
1            NaN          NaN
2            NaN          NaN
3            NaN          NaN
4            NaN          NaN
..           ...          ...
244          NaN          NaN
245          NaN          NaN
246          NaN          NaN
247          NaN          NaN
248          NaN          NaN

[249 rows x 18 columns]>

In [43]:
# Merge X and Y coordinates into 1 list
df_IN_X = df_IN['X']
df_IN_Y = df_IN['Y']
df_IN_XY = pd.concat([df_IN_X, df_IN_Y], axis = 1)
df_IN_XY.head()

df_IN_coordlist = pd.DataFrame(columns = ['coord'])
df_IN_coordlist['coord'] = df_IN_XY[['X', 'Y']].values.tolist()

df_IN_coordlist.head()

                         coord
0  [-19003110.0, -1609164.125]
1  [-16307602.0, -1683299.125]
2   [-19164678.0, -1546529.75]
3   [-19463144.0, -2322361.25]
4     [-9892613.0, 1544105.75]

In [44]:
# Join XY coordinates with Remittance/GDP data
df_IN = pd.concat([df_IN, df_IN_coordlist, ], axis = 1)
df_IN.head()

,OBJECTID,COUNTRY,ISO,COUNTRYAFF,COUNTRY_1,R_IN_2017,R_IN_2018,R_IN_2019,R_IN_2020,ISO_3,GDP_2017,GDP_2018,GDP_2019,GDP_2020,X,Y,Unnamed: 16,Unnamed: 17,coord
0,1,American Samoa,AS,United States,American Samoa,NaN,NaN,NaN,NaN,ASM,6.120000e+08,6.390000e+08,648000000,709000000,-19003110.0,-1609164.125,NaN,NaN,"[-19003110.0, -1609164.125]"
1,2,French Polynesia,PF,France,French Polynesia,582.0,582.0,582.0,582.0,PYF,NaN,NaN,..,..,-16307602.0,-1683299.125,NaN,NaN,"[-16307602.0, -1683299.125]"
2,3,Samoa,WS,Samoa,Samoa,136.0,147.0,147.0,150.0,WSM,8.320256e+08,8.212869e+08,852007112.7,807100820.7,-19164678.0,-1546529.750,NaN,NaN,"[-19164678.0, -1546529.75]"
3,4,Tonga,TO,Tonga,Tonga,159.0,183.0,190.0,194.0,TON,4.603791e+08,4.892355e+08,512350059.4,488829964.1,-19463144.0,-2322361.250,NaN,NaN,"[-19463144.0, -2322361.25]"
4,5,El Salvador,SV,El Salvador,El Salvador,4996.0,5392.0,5661.0,5936.0,SLV,2.497919e+10,2.602085e+10,26896660000,24638720000,-9892613.0,1544105.750,NaN,NaN,"[-9892613.0, 1544105.75]"

In [45]:

# Save csv to json
df_IN.to_json('remittances_IN_PROP_centroid_millions.json')
df_OUT.to_json('remittances_OUT_PROP_centroid_millions.json')